html,
body,
#__nuxt,
#__layout
    width: 100%
    height: 100%

html,
body,
.popover
    font-family: 'Lato', sans-serif

\:root
    --color-red: #C46257
    --color-gray: #6f6f70
    --color-darkgray: #454545
    --color-gold: #AD8450
    --sidebar-width: 375px
    --detail-sidebar-width: 500px
    --color-beige: #F4EEE9
    --searchbar-width: 500px


.font-1
    font-size: 1em

.font-09
    font-size: 0.9em

.font-08
    font-size: 0.8em

.font-07
    font-size: 0.7em

.color-gray 
    color: var(--color-gray, #707070)

.color-gold
    color: var(--color-gold, #AD8450)

.hover-left-move:hover
    position: relative
    left: 10px

.cursor-pointer
    cursor: pointer

.list-style-none 
    list-style: none

.word-break-all
    word-break: break-all

.vertical-center-translate
    position: relative
    top: 50%
    transform: translateY(-50%)
