.modal-container {
  position: fixed;
  background-color: rgba(40, 40, 40, 0.7);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 16px;

  .information-modal {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    max-width: 500px;
    font-weight: normal;
    display: flex;
    flex-direction: column;

    .information-modal-header {
      display: flex;
      align-items: center;
      background: url('../../images/logo_background.png');
      padding: 16px 24px;

      .logo-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        text-transform: uppercase;
        font: Medium 20px/22px;
        letter-spacing: 1px;

        p {
          margin: 0;
          font-size: 0.7em;
          letter-spacing: 0.65px;
          font: Medium 13px/22px;
        }
      }
    }

    .information-modal-body {
      overflow: auto;
      margin-bottom: 16px;

      p {
        margin: 16px 24px;
        line-height: 1.5;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .information-modal-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 16px 24px;
      padding-top: 0;

      .information-modal-btn {
        background: url('../../images/logo_background.png');
        background-size: cover;
        border: 0px solid #ddd5cc;
        border-radius: 3em;
        cursor: pointer;
        padding: 0.5em 2em;
        font-weight: 800;
        font-size: 15px;
        color: #ffffff;
        text-transform: uppercase;
        animation: shadowpulse 5s ease infinite;

        img {
          display: none;
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  @media screen and (max-width: 516px) {
    .information-modal {
      max-width: 90vw;
      max-height: 75vh;
      font-size: 14px;
    }

    .information-modal-footer {
      .information-modal-btn {
        font-size: 12px;
        margin: auto;
      }
    }
  }
}