.scroll-indicator-container{
  position: fixed;
  left: 0;
  bottom: 0; 
  width: 425px;
  height: 50px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 9999999999;
  border: 0;
  animation: hover 2.5s infinite;
  margin-top: -40px;

  &:focus{
    outline: 0;
  }
}

